# Machine learning project on Indian non metro jobs dataset

## import the required library

In [3]:
# import pandas
# this library help us to convert diffrent data files(structured and sem-structured) into pandas datafreme
import pandas as pd

# import numpy
# this library help us to perform difftent numerical and statistical operation on diffrent data structure
import numpy as np

# import seaborn and matplotlib
# this both library help us to create and visualization 
import seaborn as sns
import matplotlib.pyplot as plt

## load the dataset

In [5]:
# load the file from local
df_indian_non_metro_jobs_dataset = pd.read_csv('indian_non_metro_jobs_dataset.csv')

In [6]:
# show the first five observation
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,74.25,9162.21,0,6.20,9.28,29,74.65,2023-10-15
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,84.11,4862.53,1,2.78,3.32,7,96.37,2023-03-31
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,54.90,5226.14,0,4.85,5.99,34,60.63,2024-12-25
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,73.16,4400.15,0,4.97,9.14,7,64.78,2023-08-11
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,52.70,2257.42,0,3.99,6.60,7,66.45,2023-06-03

In [7]:
# show the last five observation
df_indian_non_metro_jobs_dataset.tail()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date
11995,11996,Raipur,Finance,Business Development,"Sales, Market Analysis, CRM",Senior-Level,1915750.24,Reliance Retail,538,1534,50.47,5232.16,0,8.35,9.44,19,68.90,2025-02-14
11996,11997,Vadodara,Finance,Data Science,"Data Visualization, Statistics",Entry-Level,543950.21,Others,1663,2265,56.52,2564.89,0,2.63,7.62,15,90.58,2023-07-07
11997,11998,Vijayawada,Tech,Engineering,"Python, Java",Mid-Level,1871356.44,Reliance Retail,2184,0,81.68,4351.64,1,4.01,4.20,17,65.80,2023-08-31
11998,11999,Vijayawada,Others,Data Science,"SQL, Statistics",Senior-Level,2165847.48,Reliance Retail,2330,487,87.71,1088.28,1,4.76,4.43,13,77.11,2025-02-25
11999,12000,Vadodara,Manufacturing,Data Science,"Data Visualization, Statistics, SQL, Python",Senior-Level,1619926.58,Reliance Retail,1164,1297,69.29,2114.90,0,2.48,7.09,18,69.32,2024-01-30

## basic data overview

In [9]:
# check the shape of the data
df_indian_non_metro_jobs_dataset.shape

(12000, 18)

**Inference**
 - we have 12000 observations and 18 attributes

In [11]:
# check the columns we have in the data
df_indian_non_metro_jobs_dataset.columns

Index(['Job_ID', 'City', 'Industry', 'Job_Role', 'Skill_Set',
       'Experience_Level', 'Salary_Range', 'Company_Name', 'Talent_Inflow',
       'Talent_Outflow', 'Infrastructure_Score', 'Smart_City_Investment',
       'GCC_Presence', 'MSME_Growth_Rate', 'Unemployment_Rate',
       'Education_Hubs', 'Cost_of_Living_Index', 'Job_Posting_Date'],
      dtype='object')

In [12]:
# check the data info
df_indian_non_metro_jobs_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Job_ID                 12000 non-null  int64
 1   City                   12000 non-null  object
 2   Industry               12000 non-null  object
 3   Job_Role               12000 non-null  object
 4   Skill_Set              12000 non-null  object
 5   Experience_Level       12000 non-null  object
 6   Salary_Range           12000 non-null  float64
 7   Company_Name           12000 non-null  object
 8   Talent_Inflow          12000 non-null  int64
 9   Talent_Outflow         12000 non-null  int64
 10  Infrastructure_Score   12000 non-null  float64
 11  Smart_City_Investment  12000 non-null  float64
 12  GCC_Presence           12000 non-null  int64
 13  MSME_Growth_Rate       12000 non-null  float64
 14  Unemployment_Rate      12000 non-null  float64
 15  Education_Hubs         12000 non-null  int64
 16  Cost_of_Living_Index   12000 non-null  float64
 17  Job_Posting_Date       12000 non-null  object
dtypes: float64(6), int64(5), object(7)
memory usage: 1.6+ MB

In [13]:
# example of user define function
def addition1(x,y):
    sum1=x+y
    return sum1

In [14]:
# call the function
addition1(10,20)

30

**Interpretation**
 - 1. we have 11 numerical columns and 7 catecorical columns
 - 2. the data we have it aquires 1.6+mb storage space
 - 3. we don't have valid null records in a data

In [16]:
# describe the dataset
df_indian_non_metro_jobs_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Job_ID,12000.0,6000.500000,3464.245950,1.00,3000.750,6000.500,9.000250e+03,12000.00
Salary_Range,12000.0,846147.641146,607037.970547,300000.00,335759.525,667431.470,1.171641e+06,3985713.38
Talent_Inflow,12000.0,1305.965167,783.722309,0.00,751.000,1155.000,1.731000e+03,4204.00
Talent_Outflow,12000.0,1300.928083,498.169449,0.00,1058.000,1404.000,1.643250e+03,2843.00
Infrastructure_Score,12000.0,67.177056,11.323789,50.00,58.080,65.870,7.365000e+01,94.99
Smart_City_Investment,12000.0,3922.670814,2180.646913,1000.66,2253.260,3546.270,4.788977e+03,9995.70
GCC_Presence,12000.0,0.299417,0.458022,0.00,0.000,0.000,1.000000e+00,1.00
MSME_Growth_Rate,12000.0,7.273655,3.383855,2.00,4.450,6.980,9.460000e+00,14.99
Unemployment_Rate,12000.0,7.483524,2.730499,2.00,5.400,7.590,9.820000e+00,12.00
Education_Hubs,12000.0,14.781250,7.292199,5.00,9.000,14.000,1.800000e+01,39.00
Cost_of_Living_Index,12000.0,79.984437,11.501405,60.00,69.920,80.105,8.982000e+01,100.00

**interpretation**
 - from this we can easily identify the outlires , by looking at the difference between mean and 50%(median)

## data preproccessing

### null value handling

In [20]:
# cheack the count of null record present in dataframe
df_indian_non_metro_jobs_dataset.isnull().sum()

Job_ID                   0
City                     0
Industry                 0
Job_Role                 0
Skill_Set                0
Experience_Level         0
Salary_Range             0
Company_Name             0
Talent_Inflow            0
Talent_Outflow           0
Infrastructure_Score     0
Smart_City_Investment    0
GCC_Presence             0
MSME_Growth_Rate         0
Unemployment_Rate        0
Education_Hubs           0
Cost_of_Living_Index     0
Job_Posting_Date         0
dtype: int64

**interpritation**
 - in the data we don't have the null records

before performing machine learning we have to take care of few things
 - categorical column must not contain the categories more than 15 , if the count of catagories more then 30 then drop the column
 - we have to remove the columns who contain all unique value
 - we have to remove the column who contain all single value

## EDA(Exploratry Data Analysis)

In [23]:
# Step1: segrigate the data based on datatype
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

In [24]:
# make a saperate data frame for catagorical variable
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

In [25]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [26]:
# check the catgories present in categorical columns
df_cat.City.value_counts()

City
Raipur           1235
Vijayawada       1227
Jodhpur          1222
Visakhapatnam    1218
Madurai          1205
Ranchi           1195
Rajkot           1192
Agra             1183
Vadodara         1175
Nashik           1148
Name: count, dtype: int64

In [27]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [28]:
# check the catgories present in categorical columns
df_cat.Industry.value_counts()

Industry
Tech             2572
Pharma           1786
Others           1544
Retail           1450
Education        1436
Manufacturing    1134
Healthcare       1055
Finance          1023
Name: count, dtype: int64

In [29]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [30]:
# check the catgories present in categorical columns
df_cat.Job_Role.value_counts()

Job_Role
Business Development    2381
Engineering             2259
AI/ML                   1776
Operations              1518
Data Science            1500
Others                  1018
Sales                   1005
Retail                   543
Name: count, dtype: int64

In [31]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [32]:
# check the catgories present in categorical columns
df_cat.Skill_Set.value_counts()

Skill_Set
Market Analysis, Sales, CRM                    279
Sales, Market Analysis, CRM                    274
CRM, Market Analysis, Sales                    265
CRM, Sales, Market Analysis                    265
Market Analysis, CRM, Sales                    259
                                              ...
Statistics, Data Visualization, Python, SQL     13
Statistics, Python, Data Visualization, SQL     13
SQL, Data Visualization, Statistics, Python     13
Python, Data Visualization, Statistics          12
SQL, Python, Data Visualization, Statistics     10
Name: count, Length: 226, dtype: int64

In [33]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [34]:
# check the catgories present in categorical columns
df_cat.Experience_Level.value_counts()

Experience_Level
Entry-Level     4887
Mid-Level       4164
Senior-Level    2346
Internship       603
Name: count, dtype: int64

In [35]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [36]:
# check the catgories present in categorical columns
df_cat.Company_Name.value_counts()

Company_Name
Reliance Retail    5541
Others             5539
HCLTech             920
Name: count, dtype: int64

In [37]:
# check the columns present in categorical dataframe
df_cat.columns

Index(['City', 'Industry', 'Job_Role', 'Skill_Set', 'Experience_Level',
       'Company_Name', 'Job_Posting_Date'],
      dtype='object')

In [38]:
# check the catgories present in categorical columns
df_cat.Job_Posting_Date.value_counts()

Job_Posting_Date
2025-02-12    33
2024-07-27    32
2023-07-18    30
2025-01-09    30
2023-06-23    29
              ..
2024-06-09     7
2023-08-26     7
2024-10-21     7
2024-07-11     6
2024-08-08     4
Name: count, Length: 731, dtype: int64

In [39]:
# Make sure the column is in datetime format
df_cat['Job_Posting_Date'] = pd.to_datetime(df_cat['Job_Posting_Date'])

In [40]:
# Extract basic date features
df_cat['Day'] = df_cat['Job_Posting_Date'].dt.day
df_cat['Month'] = df_cat['Job_Posting_Date'].dt.month
df_cat['Year'] = df_cat['Job_Posting_Date'].dt.year
df_cat['Weekday'] = df_cat['Job_Posting_Date'].dt.day_name()
df_cat['Quarter'] = df_cat['Job_Posting_Date'].dt.quarter

In [41]:
# Function to map month to season (Indian seasons)
def get_season(month):
    if month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    else:
        return 'Winter'

# Apply season mapping
df_cat['Season'] = df_cat['Month'].apply(get_season)

In [42]:
# check the categorical dataframe
df_cat.head()

,City,Industry,Job_Role,Skill_Set,Experience_Level,Company_Name,Job_Posting_Date,Day,Month,Year,Weekday,Quarter,Season
0,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,Reliance Retail,2023-10-15,15,10,2023,Sunday,4,Winter
1,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,HCLTech,2023-03-31,31,3,2023,Friday,1,Summer
2,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,Reliance Retail,2024-12-25,25,12,2024,Wednesday,4,Winter
3,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,Reliance Retail,2023-08-11,11,8,2023,Friday,3,Monsoon
4,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,Reliance Retail,2023-06-03,3,6,2023,Saturday,2,Monsoon

In [43]:
import pandas as pd

# Make sure the column is in datetime format
df_indian_non_metro_jobs_dataset['Job_Posting_Date'] = pd.to_datetime(df_indian_non_metro_jobs_dataset['Job_Posting_Date'])

# Extract basic date features
df_indian_non_metro_jobs_dataset['Day'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.day
df_indian_non_metro_jobs_dataset['Month'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.month
df_indian_non_metro_jobs_dataset['Year'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.year
df_indian_non_metro_jobs_dataset['Weekday'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.day_name()
df_indian_non_metro_jobs_dataset['Quarter'] = df_indian_non_metro_jobs_dataset['Job_Posting_Date'].dt.quarter

# Function to map month to season (Indian seasons)
def get_season(month):
    if month in [3, 4, 5]:
        return 'Summer'
    elif month in [6, 7, 8, 9]:
        return 'Monsoon'
    else:
        return 'Winter'

# Apply season mapping
df_indian_non_metro_jobs_dataset['Season'] = df_indian_non_metro_jobs_dataset['Month'].apply(get_season)

# Display the first few rows to verify
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,...,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date,Day,Month,Year,Weekday,Quarter,Season
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,...,9.28,29,74.65,2023-10-15,15,10,2023,Sunday,4,Winter
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,...,3.32,7,96.37,2023-03-31,31,3,2023,Friday,1,Summer
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,...,5.99,34,60.63,2024-12-25,25,12,2024,Wednesday,4,Winter
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,...,9.14,7,64.78,2023-08-11,11,8,2023,Friday,3,Monsoon
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,...,6.60,7,66.45,2023-06-03,3,6,2023,Saturday,2,Monsoon

## prepare the data for machine learning

In [45]:
# Step1: segrigate the data based on datatype
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

# make a saperate data frame for catagorical variable
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

### perform encoding

In [47]:
# perform encoding(one hot encoding)
df_encoded = pd.get_dummies(df_cat)

In [48]:
# check the encoded data
df_encoded.head()

,City_Agra,City_Jodhpur,City_Madurai,City_Nashik,City_Raipur,City_Rajkot,City_Ranchi,City_Vadodara,City_Vijayawada,City_Visakhapatnam,...,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,Season_Monsoon,Season_Summer,Season_Winter
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False

In [49]:
# Perform encoding(One Hot Encoding) 
df_encoded = pd.get_dummies(df_cat)

In [50]:
# Check the encoded data 
df_encoded.head()

,City_Agra,City_Jodhpur,City_Madurai,City_Nashik,City_Raipur,City_Rajkot,City_Ranchi,City_Vadodara,City_Vijayawada,City_Visakhapatnam,...,Weekday_Friday,Weekday_Monday,Weekday_Saturday,Weekday_Sunday,Weekday_Thursday,Weekday_Tuesday,Weekday_Wednesday,Season_Monsoon,Season_Summer,Season_Winter
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True,False,...,True,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,True,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False

In [51]:
# Chech the dataframe to decide a target variable
df_indian_non_metro_jobs_dataset.head()

,Job_ID,City,Industry,Job_Role,Skill_Set,Experience_Level,Salary_Range,Company_Name,Talent_Inflow,Talent_Outflow,...,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Job_Posting_Date,Day,Month,Year,Weekday,Quarter,Season
0,1,Ranchi,Retail,Retail,"Customer Service, English",Mid-Level,622099.18,Reliance Retail,1159,1583,...,9.28,29,74.65,2023-10-15,15,10,2023,Sunday,4,Winter
1,2,Vijayawada,Tech,AI/ML,"Python, Deep Learning, TensorFlow, NLP",Entry-Level,613072.56,HCLTech,3779,618,...,3.32,7,96.37,2023-03-31,31,3,2023,Friday,1,Summer
2,3,Ranchi,Retail,Retail,"MS Office, Customer Service",Entry-Level,466698.78,Reliance Retail,1596,1565,...,5.99,34,60.63,2024-12-25,25,12,2024,Wednesday,4,Winter
3,4,Vadodara,Manufacturing,Sales,"Negotiation, Communication",Entry-Level,352905.66,Reliance Retail,1318,1227,...,9.14,7,64.78,2023-08-11,11,8,2023,Friday,3,Monsoon
4,5,Agra,Education,Data Science,"SQL, Python, Data Visualization",Senior-Level,1948630.28,Reliance Retail,1169,2511,...,6.60,7,66.45,2023-06-03,3,6,2023,Saturday,2,Monsoon

In [52]:
# After discussion we decided to take salary as our target variable (Depentdent variable)
target = df_indian_non_metro_jobs_dataset.Salary_Range

# After storing this variable into target we have to remove it from the main dataframe (Indepentdent variable)
df_indian_non_metro_jobs_dataset = df_indian_non_metro_jobs_dataset.drop('Salary_Range', axis = 1 )

In [53]:
#Step 1: Sedregate the data based on data type
df_num = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'number')

#Step 2: Make the seperate dataframe for catgorical columns 
df_cat = df_indian_non_metro_jobs_dataset.select_dtypes(include = 'object')

### Scale the numerical variables

Formally any algorithm gives the improtance based on the number of digits present in the observation and these proccess is not based on the fearture improtance for predictions , to avoid this basieness we have noramlization or scaling on the numerical data

In [55]:
# Import standart scaler-sub package of performing the scaling
from sklearn.preprocessing import StandardScaler

In [56]:
# Inciate the Standard Scaler 
ss = StandardScaler()

In [57]:
# Transfor the numerical variables 
scale = ss.fit_transform(df_num)


# Space check tranform data
scale

array([[-1.73190648, -0.1875298 ,  0.5662404 , ...,  1.01376383,
        -1.0585089 ,  1.3430051 ],
       [-1.7316178 ,  3.15563032, -1.3709322 , ..., -1.00760347,
        -1.0585089 , -1.33600989],
       [-1.73132913,  0.37008889,  0.53010661, ...,  1.59129735,
         0.5442806 ,  1.3430051 ],
       ...,
       [ 1.73132913,  1.1203859 , -2.61152564, ...,  0.43623032,
        -1.0585089 ,  0.4500001 ],
       [ 1.7316178 ,  1.30668413, -1.63390589, ..., -1.29637023,
         2.1470701 , -1.33600989],
       [ 1.73190648, -0.18114973, -0.00788536, ..., -1.58513699,
         0.5442806 , -1.33600989]])

In [58]:
# Create a new dataframe for scaled data
df_scale = pd.DataFrame(scale,columns=df_num.columns)

In [59]:
# Check the scaled dataframe 
df_scale.head()

,Job_ID,Talent_Inflow,Talent_Outflow,Infrastructure_Score,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Day,Month,Year,Quarter
0,-1.731906,-0.187530,0.566240,0.624635,2.402845,-0.653745,-0.317301,0.657957,1.949939,-0.463827,-0.085550,1.013764,-1.058509,1.343005
1,-1.731618,3.155630,-1.370932,1.495405,0.431018,1.529649,-1.328024,-1.524885,-1.067109,1.424717,1.728422,-1.007603,-1.058509,-1.336010
2,-1.731329,0.370089,0.530107,-1.084228,0.597769,-0.653745,-0.716271,-0.547001,2.635632,-1.682859,1.048183,1.591297,0.544281,1.343005
3,-1.731040,0.015357,-0.148406,0.528374,0.218971,-0.653745,-0.680807,0.606682,-1.067109,-1.322019,-0.539043,0.436230,-1.058509,0.450000
4,-1.730752,-0.174770,2.429138,-1.278517,-0.763682,-0.653745,-0.970429,-0.323590,-1.067109,-1.176813,-1.446029,-0.141303,-1.058509,-0.443005

In [60]:
# Do the concatenation 
X = pd.concat([df_encoded,df_scale] , axis=1)

#Check the concatenated data
X.head()

,City_Agra,City_Jodhpur,City_Madurai,City_Nashik,City_Raipur,City_Rajkot,City_Ranchi,City_Vadodara,City_Vijayawada,City_Visakhapatnam,...,Smart_City_Investment,GCC_Presence,MSME_Growth_Rate,Unemployment_Rate,Education_Hubs,Cost_of_Living_Index,Day,Month,Year,Quarter
0,False,False,False,False,False,False,True,False,False,False,...,2.402845,-0.653745,-0.317301,0.657957,1.949939,-0.463827,-0.085550,1.013764,-1.058509,1.343005
1,False,False,False,False,False,False,False,False,True,False,...,0.431018,1.529649,-1.328024,-1.524885,-1.067109,1.424717,1.728422,-1.007603,-1.058509,-1.336010
2,False,False,False,False,False,False,True,False,False,False,...,0.597769,-0.653745,-0.716271,-0.547001,2.635632,-1.682859,1.048183,1.591297,0.544281,1.343005
3,False,False,False,False,False,False,False,True,False,False,...,0.218971,-0.653745,-0.680807,0.606682,-1.067109,-1.322019,-0.539043,0.436230,-1.058509,0.450000
4,True,False,False,False,False,False,False,False,False,False,...,-0.763682,-0.653745,-0.970429,-0.323590,-1.067109,-1.176813,-1.446029,-0.141303,-1.058509,-0.443005

In [61]:
# Import the train test split
from sklearn.model_selection import train_test_split

In [62]:
# Verify shapes
print("Shape of X:", X.shape)
print("Shape of target:", target.shape)

Shape of X: (12000, 283)
Shape of target: (12000,)

In [63]:
# Create xtrain, xtest, ytrain, ytest
X_train,X_test,y_train,y_test = train_test_split(X,target,test_size=0.20,random_state=42) # random_state use for static learning (same answers in output)

In [64]:
# Authentic check training set
print(X_train.shape)

print(y_train.shape)

(9600, 283)
(9600,)

In [65]:
# Authentic check testing set
print(X_test.shape)

print(y_test.shape)

(2400, 283)
(2400,)

For finding the base algorithm we are going to follow hit and trial method, that means based on problem type (Reggression problem or Classification problem) we have to try all supported algorithms and based evalutation matrix we have to find our base model 

For reggession models/problems the evaluation matrix is MSE, RMSE, Rsquere, adjustedRsquere

For classification models/problems the evaliation model is f1 score, accurise ,confusion matrix, pression and recall

## Find the base Machine Learning Algorithm

### Linear Regression

In [68]:
# Import linear regression algorithm and evalutaion matrix 
from sklearn.linear_model import LinearRegression 

# Here we are using MSE as evaluation matrix
from sklearn.metrics import mean_squared_error

In [69]:
# Create a Linear Regression Model
model = LinearRegression()

In [70]:
# Fit the model to training data
model.fit(X_train,y_train)

LinearRegression()

In [71]:
#Predict the testing data 
predicitions = model.predict(X_test)

In [72]:
# Caluculate the mean squared error
mse = mean_squared_error(y_test,predicitions)
print("Mean squared Error",mse)

Mean squared Error 55905762722.74794

### Rigid Model

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Ridge regression model
ridge_model = Ridge(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
ridge_model.fit(X_train, y_train)

# Predict on the testing data
predictions = ridge_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55772979904.81673

### Lasso Model

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Lasso regression model
lasso_model = Lasso(alpha=1.0)  # alpha is the regularization strength

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Predict on the testing data
predictions = lasso_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 55886756804.02718

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:697: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.517e+14, tolerance: 3.540e+11
  model = cd_fast.enet_coordinate_descent(

### Decision tree model

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Decision Tree regression model
tree_model = DecisionTreeRegressor()

# Fit the model to the training data
tree_model.fit(X_train, y_train)

# Predict on the testing data
predictions = tree_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 76886257485.14395

### Random forest regressor

In [80]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Assuming X_train, X_test, y_train, y_test are already defined from train_test_split

# Create a Random Forest regression model
forest_model = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
forest_model.fit(X_train, y_train)

# Predict on the testing data
predictions = forest_model.predict(X_test)

# Calculate mean squared error
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 43069289152.56289

### SVR

In [82]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

# Define the Random Forest model
rf = RandomForestRegressor(random_state=42)

# Define the hyperparameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Perform GridSearchCV for hyperparameter tuning
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, 
                           cv=5, scoring='neg_mean_squared_error', 
                           n_jobs=-1, verbose=2)

# Fit the model
grid_search.fit(X_train, y_train)

# Get the best parameters and model
best_params = grid_search.best_params_
best_rf = grid_search.best_estimator_

# Predict on the test set
y_pred = best_rf.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Best Hyperparameters:", best_params)
print("Test MSE:", mse)
print("Test R²:", r2)

# Feature importance
feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Importance': best_rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

print("\nFeature Importance:")
print(feature_importance)

Fitting 5 folds for each of 324 candidates, totalling 1620 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
540 fits failed out of a total of 1620.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
262 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
278 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\numpy\ma\core.py:2820: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [            nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan -1.15308127e+11
 -1.05424744e+11 -1.09130500e+11 -1.13107251e+11 -1.04271175e+11
 -1.07797950e+11 -1.16992083e+11 -1.05748868e+11 -1.09320212e+11
 -1.13578045e+11 -1.04590915e+11 -1.08802515e+11 -1.12868154e+11
 -1.04902396e+11 -1.09360194e+11 -1.14706850e+11 -1.05969072e+11
 -1.09203564e+11 -1.20252392e+11 -1.09220632e+11 -1.12130413e+11
 -1.20252392e+11 -1.09220632e+11 -1.12130413e+11 -1.18038098e+11
 -1.08484742e+11 -1.12534005e+11 -2.03924691e+11 -1.96926930e+11
 -1.91915378e+11 -2.05611483e+11 -1.99397567e+11 -1.93788880e+11
 -2.07488275e+11 -1.98432742e+11 -1.92777942e+11 -2.07673440e+11
 -1.98943641e+11 -1.93012511e+11 -2.06083666e+11 -1.96698076e+11
 -1.91815952e+11 -2.08316203e+11 -1.99164035e+11 -1.93731713e+11
 -2.19422076e+11 -2.07908475e+11 -2.02332661e+11 -2.19422076e+11
 -2.07908475e+11 -2.02332661e+11 -2.16812025e+11 -2.03605054e+11
 -1.98321546e+11             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
 -6.23300147e+10 -5.94686963e+10 -6.11022699e+10 -6.37922924e+10
 -6.00431177e+10 -6.16214089e+10 -6.44495747e+10 -6.16349324e+10
 -6.24638726e+10 -7.03632382e+10 -6.55702994e+10 -6.72182717e+10
 -7.10539457e+10 -6.67247923e+10 -6.84385484e+10 -7.01232622e+10
 -6.66744190e+10 -6.79445866e+10 -8.14677247e+10 -7.71790760e+10
 -7.93577380e+10 -8.14677247e+10 -7.71790760e+10 -7.93577380e+10
 -8.14373421e+10 -7.75973285e+10 -7.90331618e+10 -1.23583908e+11
 -1.16186388e+11 -1.13484517e+11 -1.24792408e+11 -1.19535729e+11
 -1.16575113e+11 -1.22964151e+11 -1.18851475e+11 -1.17540306e+11
 -1.40658569e+11 -1.33931192e+11 -1.31417869e+11 -1.40399758e+11
 -1.34781392e+11 -1.31887925e+11 -1.42231540e+11 -1.35068010e+11
 -1.33043096e+11 -1.62728405e+11 -1.55654413e+11 -1.52595021e+11
 -1.62728405e+11 -1.55654413e+11 -1.52595021e+11 -1.62944826e+11
 -1.55141377e+11 -1.52756308e+11             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan -5.74453833e+10 -5.46654703e+10 -5.55197941e+10
 -5.73761917e+10 -5.54171551e+10 -5.60288517e+10 -5.85561684e+10
 -5.60833273e+10 -5.69650320e+10 -6.53330703e+10 -6.18193325e+10
 -6.31064503e+10 -6.56136444e+10 -6.23514413e+10 -6.33754726e+10
 -6.66494767e+10 -6.34779665e+10 -6.49775977e+10 -7.89749995e+10
 -7.45781041e+10 -7.62646154e+10 -7.89749995e+10 -7.45781041e+10
 -7.62646154e+10 -8.07569458e+10 -7.50379250e+10 -7.65383173e+10
 -9.58756294e+10 -9.10425993e+10 -8.93806770e+10 -9.85466143e+10
 -9.43331301e+10 -9.25381864e+10 -1.01047817e+11 -9.66997368e+10
 -9.52704142e+10 -1.25425897e+11 -1.18944383e+11 -1.17613079e+11
 -1.24515694e+11 -1.19054598e+11 -1.16497190e+11 -1.26786680e+11
 -1.20461836e+11 -1.17863915e+11 -1.55565954e+11 -1.47171895e+11
 -1.46095316e+11 -1.55565954e+11 -1.47171895e+11 -1.46095316e+11
 -1.57264180e+11 -1.49179415e+11 -1.47337012e+11             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan             nan             nan
             nan             nan -5.63149371e+10 -5.39166703e+10
 -5.46565183e+10 -5.69033431e+10 -5.48737943e+10 -5.55236044e+10
 -5.81807925e+10 -5.58272247e+10 -5.68362546e+10 -6.50258556e+10
 -6.12824217e+10 -6.26766302e+10 -6.44708741e+10 -6.15338185e+10
 -6.27540554e+10 -6.74277162e+10 -6.31946371e+10 -6.44762984e+10
 -7.94997337e+10 -7.49623655e+10 -7.67776468e+10 -7.94997337e+10
 -7.49623655e+10 -7.67776468e+10 -7.91691195e+10 -7.49383961e+10
 -7.62623813e+10 -8.75442833e+10 -8.39445430e+10 -8.22496943e+10
 -9.05969446e+10 -8.60115321e+10 -8.50664890e+10 -9.28825506e+10
 -8.94352748e+10 -8.81625850e+10 -1.21038933e+11 -1.14902976e+11
 -1.14067813e+11 -1.18490242e+11 -1.14705836e+11 -1.12705730e+11
 -1.22302310e+11 -1.17444175e+11 -1.15940469e+11 -1.53536608e+11
 -1.47593749e+11 -1.45361855e+11 -1.53536608e+11 -1.47593749e+11
 -1.45361855e+11 -1.55457685e+11 -1.46706745e+11 -1.44883730e+11]
  warnings.warn(

Best Hyperparameters: {'max_depth': None, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
Test MSE: 53203839524.70023
Test R²: 0.8551249750399963

Feature Importance:
                                               Feature  Importance
255                      Experience_Level_Senior-Level    0.326737
252                       Experience_Level_Entry-Level    0.217391
254                         Experience_Level_Mid-Level    0.053691
253                        Experience_Level_Internship    0.032332
17                                       Industry_Tech    0.027157
..                                                 ...         ...
238           Skill_Set_TensorFlow, Deep Learning, NLP    0.000043
223   Skill_Set_Statistics, Data Visualization, Python    0.000043
179  Skill_Set_Python, Statistics, SQL, Data Visual...    0.000035
143  Skill_Set_Python, Data Visualization, SQL, Sta...    0.000029
202  Skill_Set_SQL, Python, Data Visualization, Sta...    0.000028

[283 rows x 2 columns]

In [83]:
from sklearn.model_selection import KFold
# Set up k-fold cross-validation (e.g., k=5)
k = 5
kf = KFold(n_splits=k, shuffle=True, random_state=42)

# Lists to store metrics for each fold
mse_scores = []
r2_scores = []

# Perform k-fold cross-validation
for fold, (train_index, test_index) in enumerate(kf.split(X), 1):
    # Split data into training and test sets for this fold
    X_train, X_test = X_train.iloc[train_index], X_train.iloc[test_index]
    y_train, y_test = y_train.iloc[train_index], y_train.iloc[test_index]

    # Train the model
    rf.fit(X_train, y_train)

    # Predict on the test set
    y_pred = rf.predict(X_test)

    # Calculate metrics
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    # Store metrics
    mse_scores.append(mse)
    r2_scores.append(r2)

    print(f"Fold {fold} - MSE: {mse:.2f}, R²: {r2:.4f}")

# Calculate mean and standard deviation of metrics
mean_mse = np.mean(mse_scores)
std_mse = np.std(mse_scores)
mean_r2 = np.mean(r2_scores)
std_r2 = np.std(r2_scores)

print("\nK-Fold Cross-Validation Results (k={})".format(k))
print(f"Mean MSE: {mean_mse:.2f} (± {std_mse:.2f})")
print(f"Mean R²: {mean_r2:.4f} (± {std_r2:.4f})")

# Train the model on the full dataset to get feature importance
rf.fit(X, y)
feature_importance = pd.DataFrame({
    'Feature': X.columns,
    'Importance': rf.feature_importances_
}).sort_values(by='Importance', ascending=False)

print("\nFeature Importance:")
print(feature_importance)

IndexError: positional indexers are out-of-bounds

### Feature selaction for base algorithem

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE
from sklearn.metrics import mean_squared_error, r2_score

# Step 1: Initialize the model
rf_model = RandomForestRegressor(random_state=42)

# Step 2: Set up RFE
# You can specify the number of features to select (e.g., 5 or len(X_train.columns)//2)
n_features_to_select = 100  # Change as needed
rfe = RFE(estimator=rf_model, n_features_to_select=n_features_to_select)

# Step 3: Fit RFE on training data
rfe.fit(X_train, y_train)

# Step 4: Get selected features
selected_features = X_train.columns[rfe.support_]
print("Selected Features:", list(selected_features))

# Step 5: Train model on selected features
rf_model.fit(X_train[selected_features], y_train)

# Step 6: Predict on test set using selected features
y_pred = rf_model.predict(X_test[selected_features])

# Step 7: Evaluate
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R^2 Score:", r2)

In [ ]:
import joblib

#Assuming 'rf' is your trained model
joblib.dump(rf,'model.pkl')

In [ ]:
import streamlit as st
import joblib
import numpy as np

# Load the trained model
model = joblib.load('model.pkl')

st.title("Random Forest Regression Predictor")

# Example: Assume you need 10 features as input
inputs = []
for i in range(100):
    val = st.number_input(f"Feature {i+1}", value=0.0)
    inputs.append(val)

if st.button("Predict"):
    prediction = model.predict([inputs])
    st.success(f"Predicted Output: {prediction[0]}")